<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Horizon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClienteCreateAndeFind</display-name>
    <servlet-name>ClienteCreateAndeFind</servlet-name>
    <servlet-class>controls.ClienteCreateAndeFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteCreateAndeFind</servlet-name>
    <url-pattern>/CreateAndeFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteDelete</display-name>
    <servlet-name>ClienteDelete</servlet-name>
    <servlet-class>controls.ClienteDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteDelete</servlet-name>
    <url-pattern>/ClienteDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoosDelete</display-name>
    <servlet-name>VoosDelete</servlet-name>
    <servlet-class>controls.VoosDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoosDelete</servlet-name>
    <url-pattern>/VoosDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteFindAndUpdate</display-name>
    <servlet-name>ClienteFindAndUpdate</servlet-name>
    <servlet-class>controls.ClienteFindAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteFindAndUpdate</servlet-name>
    <url-pattern>/ClienteFindAndUpdate</url-pattern>
  </servlet-mapping>
</web-app>